<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12" style="font-family: 'Lato', 'Open Sans', 'Helvetica', Sans;    color: #444;">
            <h2 class="oe_slogan">Website Portal User Request</h2>
            <h3 class="oe_slogan">Manage signup request for portal user</h3>
            <p class='oe_mt32' style="font-size:18px;">
                By default in odoo, when you fill sign up form and then odoo create portal user inside system, but for enterprise system or some application, they charge based on user services so it is not suitable to create user in just filling form but we have to authenticate user request that this sign up requst is generic or not and based on that we have to create user. 
            </p>
            <p class='oe_mt32' style="font-size:18px;">
                So for this purpose, the <b><i>Website Portal User Request</i></b> application allows you these all features like manage user signup request and authenticate that request. In that when user sign up then the request is generated as a <b><i>ticket in helpdesk</i></b> module and from this, helpdesk team authenticate request and based on that perform appropriate action like accept signup request or refuse. If accept then they need to create portal user based on given detail.
            </p>
	    <center><div class="alert alert-warning" style="max-width:90%;">
                    This module is tested in Enterprise version
            </div></center>
            <div class="col-md-12 mb32">
                <p style="font-size: 18px;">First of all go to <b><i>Settings > General Settings</i></b>, in that go to <b>Users</b> portion, in that select <b><i>Free sign up (B2C)</i></b> from <b>Customer Account</b> to enable sign up option in website.</p>
                <div class="oe_screenshot" align="center">
                    <img style="max-width: 90%" src="eight.png"/>
                </div><br/><br/>
                <p style="font-size: 18px;">After configuration, to create new account just go to <b>Sign in</b> and in that click on <b>Don't have an account?</b></p>
                <div class="oe_screenshot" align="center">
                    <img style="max-width: 90%" src="one.png"/>
                </div><br/><br/>
                <p style="font-size: 18px;">By clicking <b>Don't have an account?</b> link you will redirect to following screen. In that you have to fill details like Name, Email, Phone number and your company and click <b><i>Send</i></b> to make portal user request.</p>
                <div class="oe_screenshot" align="center">
                    <img style="max-width: 90%" src="two.png"/>
                </div><br/><br/>
                <p style="font-size: 18px;">And you will get confirmation message on this, if your data are corrects.
                </p>
                <p style="font-size: 18px;">When you send request then the system checks that: <br/><b>1)</b> using given name and email, is there any partner exists or not as a person if not, then create new and<br/><b>2)</b> Also check that based on given company name, is there any partner available as a company or not, if not then create new partner as a company
                </p>
                <p style="font-size: 18px;">Actually when you send request then it goes to helpdesk module in the form of <b><i>ticket</i></b> and the helpdesk team authenticate request based on filled information.</p>
                <div class="oe_screenshot" align="center">
                    <img style="max-width: 90%" src="three.png"/>
                </div><br/><br/>
                <p></p>
                <p style="font-size: 18px;">If user has submit twise request/more then one time and request is sended but not authenticated still then system gives alert message that "We will contact you shortly.." </p>
                <div class="oe_screenshot" align="center">
                    <img style="max-width: 90%" src="four.png"/>
                </div><br/><br/>
                <p style="font-size: 18px;">If user has submit twise request/more then one time and request is sended and authenticated successfully then system gives alert message that "You are already member and login to continue..."</p>
                <p style="font-size: 18px;">When system accept portal user request from helpdesk then they need to create user manualy and send confirmation mail and send credential to that user.</p>
                <div class="oe_screenshot" align="center">
                    <img style="max-width: 90%" src="five.png"/>
                </div><br/><br/>
                <p style="font-size: 18px;">Based on Sign up request, system automatically create company and in that create user in contacts. In that the user is belongs to that company</p>
                <div class="oe_screenshot" align="center">
                    <img style="max-width: 90%" src="six.png"/>
                </div><br/><br/>
                <p style="font-size: 18px;">You can see the coming request to helpdesk module with title <b><i>New Portal user request</i></b> from here helpdesk team authenticate that request and create user from this contact details and communicate using that email.</p>
                <div class="oe_screenshot" align="center">
                    <img style="max-width: 90%" src="seven.png"/>
                </div><br/><br/>
            </div>
            <table style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;" cellpadding="0" cellspacing="0" border="0" width="100%">
                <tbody>
                    <tr><td colspan="2" style="border-bottom:#68465f solid 1px; line-height:10px;"></td></tr>
                    <tr>
                        <td colspan="2" style="font-size:16px; color:#24B2D5; font-weight:bold;" width="100%" align="center"><span class="fa fa-certificate fa-1x" style="color:#1f2327;">Do you need support on module? Please, Write us at <a href="mailto:hello@jupical.com">hello@jupical.com</a></span></td>
                    </tr>
                    <tr><td colspan="2" style="border-bottom:#68465f solid 1px; line-height:10px;"></td></tr>
                    <tr>
                        <td colspan="2" style="font-size:16px; color:#24B2D5; font-weight:bold;" width="100%" align="center"><span class="fa fa-certificate fa-1x" style="color:#1f2327;">Our Services</span>
                        </td>
                    </tr>
                    <tr><td colspan="2" style="border-bottom:#68465f solid 1px; line-height:10px;"></td></tr>
                    <tr>
                        <td colspan="2">
                            <table style="font-size:11px; color:#697582; line-height:20px;" cellpadding="0" cellspacing="0" border="0" width="100%">
                                <tbody>
                                    <tr>
                                        <td width="20%"><span class="fa fa-globe fa-1x" style="font-size:13px;color:#875A7B;"> Gap Analysis</span></td>
                                        <td width="20%"><span class="fa fa-globe fa-1x" style="font-size:13px;color:#875A7B;"> Odoo Implementation</span></td>
                                        <td width="20%"><span class="fa fa-globe fa-1x" style="font-size:13px;color:#875A7B;"> Odoo Integration</span></td>
                                        <td width="20%"><span class="fa fa-globe fa-1x" style="font-size:13px;color:#875A7B;"> Odoo Technical Training</span></td>
                                    </tr>
                                    <tr>
                                        <td width="20%"><span class="fa fa-globe fa-1x" style="font-size:13px;color:#875A7B;"> Offshore &amp; Onsite Development</span></td>
                                        <td width="20%"><span class="fa fa-globe fa-1x" style="font-size:13px;color:#875A7B;"> Support and Maintenance</span></td>
                                        <td width="20%"><span class="fa fa-globe fa-1x" style="font-size:13px;color:#875A7B;"> Hire Dedicated Odoo Developer</span></td>
                                        <td width="20%"><span class="fa fa-globe fa-1x" style="font-size:13px;color:#875A7B;"> Odoo Functional Training</span></td>
                                    </tr>
                                    <tr>
                                        <td width="20%"><span class="fa fa-globe fa-1x" style="font-size:13px;color:#875A7B;"> Odoo Mobile App Development</span></td>
                                        <td width="20%"><span class="fa fa-globe fa-1x" style="font-size:13px;color:#875A7B;"> Odoo Manual Testing</span></td>
                                        <td width="20%"><span class="fa fa-globe fa-1x" style="font-size:13px;color:#875A7B;"> Odoo Automated Testing</span></td>
                                        <td width="20%"><span class="fa fa-globe fa-1x" style="font-size:13px;color:#875A7B;"> Installation &amp; Hosting</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr><td colspan="2" style="border-bottom:#68465f solid 1px; line-height:10px;"></td></tr>
                    <tr>
                        <td colspan="2" style="font-size:16px; color:#d74930; font-weight:bold;" width="100%" align="center"><span class="fa fa-certificate fa-1x" style="color:#1f2327;">Connect with us</span>
                        </td>
                    </tr>
                    <tr><td colspan="2" style="border-bottom:#68465f solid 1px; line-height:10px;"></td></tr>
                    <tr colspan="2" align="center">
                        <td colspan="2" style="padding-top:9px;">
                            <a href="https://www.facebook.com/Jupical/" style="text-decoration:none;"><img src="fb.jpg" style="vertical-align:middle; border-radius: 50%;" width="25">
                            </a>
                            <a href="https://twitter.com/Jupical1" style="text-decoration:none;"><img src="twitter.jpg" style="vertical-align:middle; border-radius: 50%;" width="25">
                            </a>
                            <a href="http://www.jupical.com" style="text-decoration:none;"><img src="jupical.png" style="vertical-align:middle; border-radius: 50%;" width="25">
                            </a>
                            <a href="https://www.linkedin.com/company/jupicaltechnologies/" style="text-decoration:none;"><img src="in.jpg" style="vertical-align:middle; border-radius: 50%;" width="25">
                            </a>
                            <a href="https://www.youtube.com/channel/UC2x2iEL-oW3LrwmB3OO_3hQ/videos" style="text-decoration:none;"><img src="youtube.jpg" style="vertical-align:middle; border-radius: 50%;" width="25">
                            </a>
                        </td>
                    </tr>
                    <tr colspan="2">
                        <td colspan="2" style="font-size:8px; color:#24B2D5; line-height:15px;padding-top:10px; text-align:justify;">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
